# 뷰파일 짜기
<h1>bulletin index page</h1>
<div>
    <table class ="table">
        <tr>
            <th>
                id
            </th>
            <th>
                title
            </th>
        </tr>
        
        <% @posts.each do |p| %>
        <tr>
            <td>
                <%= p.id %>
            </td>
            <td>
                <a href = "/show/<%= p.id %>">
                    <%= p.title %>
                </a>
            </td>
        </tr>
        <% end %>
    </table>
</div>